@import "../../scss/color.scss";
@import "../../scss/font.scss";
@import "../../scss/size.scss";

.button {
  background-color: $white;
  font-size: $header;
  color: $light-grey;
  margin-right: 5px;
  padding: 3px;
  border:0;
  cursor: pointer;
}
.button:focus{
  outline: 0;
}
.button:hover{
  color:$secondary-color;
}
