@import "../../../../scss/color.scss";
@import "../../../../scss/font.scss";
@import "../../../../scss/size.scss";
.header {
  font-size: $header;
  padding: 5px;
}
.detail{
  width:100%;
  padding: 5px;
  .form{
    position: relative;
    margin: 5px;
    
  }
}
.permission{
  .check{
    width:100px;
  }
}
