@import "../../../../scss/color.scss";
@import "../../../../scss/font.scss";
@import "../../../../scss/size.scss";

.role {
  text-align: left;
  color: $light-grey;
}
.role:hover {
  color: $black;
}
.content {
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid $light-grey;
}
.manage {
  .icon {
    float: left;
    margin: 0px 5px;
    cursor: pointer;
    border-radius: 5px;
    color: $white;
    background-color: $light-grey;
    padding: 5px;
    border: 1px transparent solid;
  }
  .icon:hover {
    text-shadow: 0 0 2px $black;
  }
  .user:hover {
    border: 1px $success solid;

    background-color: $success;
  }
  .edit:hover {
    border: 1px $warning solid;
    background-color: $warning;
  }
  .toggle {
    float: left;
    margin: 0px 5px;
    padding: 5px;
  }
}
.delete {
  text-align: right;
  color: $light-grey;
  cursor: pointer;
}
.delete:hover {
  color: $alert;
}
