@import "../../scss/color.scss";
@import "../../scss/font.scss";
@import "../../scss/size.scss";

.setting {
  position: absolute;
  z-index: 0;
  margin: 25px;
  left: 0;
  right: 0;
  top: $header-total-height;
  bottom: 0;
  .tab {
    position: relative;
    display: flex;
    width: 100%;
   
    .tabContent {
      border-radius: 10px 10px 0px 0px;
      font-size: $header;
      color: $grey;
      width: 33%;
      text-align: center;
      height: 30px;
      padding: 0px 5px;
      cursor: pointer;
      user-select: none;
      border-bottom: 1px solid $primary-color;
    }
    div:hover {
      @keyframes fadeColor {
        0% {
          border-bottom: 0;
        }
        99% {
          background-color: $white;

          border-bottom: 0;
        }
        100% {
          background-color: $white;
          color: $black;

          border-bottom: 0;
        }
      }
      border: 1px solid $primary-color;
      animation: fadeColor 0.5s;
      animation-fill-mode: forwards;
    }
    div.active {
      color: $black;
      background-color: $white;
      border: 1px solid $primary-color;
      border-bottom: 0;
    }
    .search {
      border-right: none;
    }
  }
  @keyframes comeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes comeOut {
    0% {
     opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .content-box {
    background-color: $white;position: relative;
    overflow: hidden;
    padding: 10px;
    border: 1px solid $primary-color;
    border-top: 0;
    border-radius: 0px 0px 10px 10px;
    height: calc(100% - 50px);
    .content{
      position: relative;
    }
  }
}
.content.in{
  animation: comeIn 0.5s;
  animation-fill-mode: forwards;
}
.content.out{
  animation: comeOut 0.5s;
  animation-fill-mode: forwards;
}
.setting.close {
  left: $nav-size-close;
  transition: 0.5s;
}
.setting.open {
  left: $nav-size-open;
  transition: 0.5s;
}
