@import "../../../scss/color.scss";
@import "../../../scss/font.scss";
@import "../../../scss/size.scss";

.roles {
  width: 100%;
  height: 100%;
  position: relative;
  .add-role {
    float: right;
    padding: 5px;
    border-radius: 15px;
    background-color: $secondary-color;
    user-select: none;
    cursor: pointer;
    margin: 0px 8px;
  }
  .add-role:hover {
    color: $white;
    background-color: $primary-color;
  }
  .table {
    width: 100%;
    table-layout: fixed;
    overflow: auto;
    border-spacing: 0;
    border-collapse: collapse;
    user-select: none;
    .header {
      text-align: left;
      color: $black;
      padding: 5px;
      margin: 0;
      border-bottom: 1px solid $light-grey;
    }
  }
  .manage {
    width: 250px;
  }
  .close {
    width: 50px;
  }
}
