$primary_color: #0cafaa;
$secondary_color: #3dccc7;

$white: #ffffff;
$grey: #7a7a7a;
$light-grey: #9c9c9c;
$black: #000000;
$alert: #c51c1c;
$warning: #f8e217;
$success: #2add99;
$shadow: rgba(196, 196, 196, 0.6);
$select-border: #648fdf;
$background-color: #d3d3d3;
