$nav-size-open: 200px;
$nav-size-close: 40px;
$header-height: 30px;
$header-padding-vertical: 5px;
$header-padding-horizontal: 10px;
$header-total-height: $header-height + $header-padding-horizontal;
